h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    margin-bottom: 0;
}

body {
    background-color: rgb(61, 61, 61);
}

h2 {
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}

div.buttons {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

input {
    color: rgb(110, 110, 111);
    margin: 5px;
    text-align: center;
    border-radius: 7px;
    height: 30px;
    border: solid;
    border-color: rgb(92, 92, 93);
    background-color: rgb(41, 40, 40);
}

div.container {
    background-color: rgb(51, 50, 50);
    border-radius: 7px;
}

button {
    margin: 5px;
    color: rgb(110, 110, 111);
    border-radius: 7px;
    border: solid;
    border-color: rgb(92, 92, 93);
    background-color: rgb(41, 40, 40);
}

a {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 237, 251);
    text-decoration: none;
    font-size: 20px;
}

.button {
    background-color: rgb(112, 112, 112);
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: 3px solid rgb(46, 46, 46);
}

button.big {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
}

h1.counter {
    font-size: 10vh;
}

.motivation {
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-size: large;
}

.footer {
    position: relative;
}