h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.header {
    background-color: rgb(93, 92, 90);
    border-radius: 7px;
}

input {
    height: 30px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #49484a;
    border: solid;
    border-radius: 7px;
    border-color: #9b989d;
    color: rgb(255, 255, 255);
}

button {
    height: 30px;
    width: 100%;
    background-color: #49484a;
    border-radius: 7px;
    border: solid;
    color: rgb(255, 255, 255);
    border-color: #9b989d;
}

.divh2 {
    padding: 7px;
}

div.result {
    background-color: rgb(94, 93, 93);
    color: rgb(223, 238, 251);
    border-radius: 7px;
}

a {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #121113;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}

body {
    color: aliceblue;
    background-color: #2b2a2c;
}